* {
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #231d25;
  --color-primary-2: #68536e;
  --color-secondary: #fff;
  --color-accent-1: #ffa500;
  --color-accent-2: #0080ff;
}
body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* [data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  position: absolute;
  bottom: -1.6em;
  z-index: 99999;
  visibility: hidden;
  white-space: nowrap;
  background-color: lightgray;
  color: #111;
  font-size: 90%;
  font-weight: lighter;
  padding: 1px 5px 2px 5px;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  border-radius: 5px 5px 5px 5px;
} */
